<div class="todo-container">

    <div class="todo-form" *ngIf="showCreateForm; else updateForm">
        <h2>Create Todo</h2>
        <form (submit)="createTodo()">
            <input type="text" name="title" placeholder="Enter title" [(ngModel)]="newTodo.title">
            <input type="text" name="description" placeholder="Enter description" [(ngModel)]="newTodo.description">
            <button type="submit">Create Todo</button>
        </form>

    </div>

    <ng-template #updateForm>
        <h2>Update Todo</h2>
        <div class="update-form">
            <form (submit)="updateTodo()">
                <input type="text" name="title" placeholder="Enter updated title" [(ngModel)]="updatedTodo.title">
                <input type="text" name="description" placeholder="Enter updated description"
                    [(ngModel)]="updatedTodo.description">
                <button type="submit">Update Todo</button>
            </form>
        </div>
    </ng-template>

    <div class="todo-list">
        <ul>
            <li *ngFor="let todo of todos$ | async; let i = index" class="todo-item">
                <h3>{{ todo.title }}</h3>
                <p>{{ todo.description }}</p>
                <button class="update-btn" (click)="showUpdateForm(i)">UPDATE</button>
                <button class="delete-btn" (click)="deleteTodo(todo.id)">DELETE</button>
            </li>

        </ul>
    </div>

</div>