<ul class="navigation-list">
    <li class="navigation-item">
      <a routerLink="" class="navigation-link">Home</a>
      <a routerLink="/login" class="navigation-link">Login</a>
      <a routerLink="/admin" class="navigation-link">Admin</a>
    </li>
  
    <li *ngIf="isAdminVisible" class="navigation-item">
      <div class="admin-link">
        <span class="material-symbols-outlined">
          admin_panel_settings
        </span>
        <span class="admin-text">Admin</span>
      </div>
    </li>

    <li *ngIf="loggedIn_true">
      <button (click)="logout()">Logout</button>
    </li>
    
  </ul>
  