.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.navigation-link {
    text-decoration: none;
    margin-right: 10px;
    color: #333;
    font-weight: bold;
}

.admin-link {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
}

.admin-link .material-symbols-outlined {
    font-size: 20px;
    margin-right: 5px;
}

.admin-text {
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}