<div class="movie_container">
    <div>
        <form class="movie_form_container" (submit)="addMovie($event)">
            <input type="text" placeholder="Movie name" name="newMovie.name" [(ngModel)]="newMovie.name">
            <input type="number" placeholder="Movie rating" name="newMovie.rating" [(ngModel)]="newMovie.rating">
            <input type="date" placeholder="Release date" name="newMovie.releaseDate"
                [(ngModel)]="newMovie.releaseDate">
            <button type="submit">Add Movie</button>
        </form>


    </div>

    <div>
        <h1>Movies</h1>
        <ul>
            <li *ngFor="let movie of movies">
                <div class="movie-info">
                    <span class="movie-name">{{ movie.name }}</span>
                    <span class="movie-rating">Rating: {{ movie.rating }}</span>
                    <span class="release-date">Release Date: {{ movie.releaseDate }}</span>
                    <div class="movie-actions">
                        <button class="update-button">Update</button>
                        <button class="delete-button">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>